#login{
	padding: 25px;
	background-color: lightgrey;  
	border: 25px;
	margin: 25px;
	width: 400px;
	position: relative;
	position-top: 100px;

}

#main{
	position: relative;
	top: 100px;
	left: 100px;
}

botton{
	padding-bottom: 5px;
}

input{
	margin-bottom: 7px;
}