{% extends "base.html" %}

{% block content %}
<h3>Create Profile</h3>
<form class="form" role="form" method="POST" action="/create-profile/" id="create-profile-form">
		
<div class="row">

	<div class="col-sm-6">
	<hr>		
		<input name="first-name" type="text" class="form-control input-lg" placeholder="First Name" required autofocus>
		<br>
		<input name="dob" type="text" class="form-control input-lg" placeholder="Date of Birth" required autofocus>
		<br>
		
		<input name="email" type="text" class="form-control input-lg" placeholder="Email" required>
		<br>
		<input name="address" type="text" class="form-control input-lg" placeholder="Address" rows='3' required>
		<br>
	</div>
	<div class="col-sm-6">
	<hr>
		<input name="last-name" type="text" class="form-control input-lg" placeholder="Last Name" required>
		<br>
		<input list="Genders" name="gender" class="form-control input-lg" placeholder="Gender 	" required>
			<datalist id="Genders">
    			<option value="Male">
    			<option value="Female">
	  		</datalist>
		<br>
		<input list="isFacultyList" name="is-faculty" class="form-control input-lg" placeholder="Are you a faculty" required>
			<datalist id="isFacultyList">
    			<option value="Yes">
    			<option value="No">
	  		</datalist>
		<br>

		<input list="Departments" name="department" class="form-control input-lg" placeholder="Department" required>
			<datalist id="Departments">
    			<option value="ECE">
    			<option value="Computer Science">
	  		</datalist>
		<br>
		 <br>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
		</form>
	</div>
</div>
{% endblock %}

