{% extends "base.html" %}

{% block content %}
<h3>Sign In</h3>
<form class="form" role="form" method="POST" action="/login/" id="login-form">
		
<div class="row">

	<div class="col-sm-6">
	<hr>		
		<input name="First-Name" type="text" class="form-control input-lg" placeholder="First Name" required autofocus>
		<br>
		<input name="DOB" type="text" class="form-control input-lg" placeholder="Date of Birth" required autofocus>
		<br>
		
		<input name="Email" type="text" class="form-control input-lg" placeholder="Email" required>
		<br>
		<input name="Address" type="text" class="form-control input-lg" placeholder="Address" rows='3' required>
		<br>
	</form>
	</div>
	<div class="col-sm-6">
	<hr>
		<input name="Last-Name" type="text" class="form-control input-lg" placeholder="Last Name" required>
		<br>
		<input list="Genders" name="Gender" class="form-control input-lg" placeholder="Genders 	" required>
			<datalist id="Genders">
    			<option value="Male">
    			<option value="Female">
	  		</datalist>
		<br>
		<input name="Email" type="text" class="form-control input-lg" placeholder="Email" required>
		<br>
		<input list="isFacultyList" name="isFaculty" class="form-control input-lg" placeholder="Are you a faculty" required>
			<datalist id="isFacultyList">
    			<option value="Yes">
    			<option value="No">
	  		</datalist>
		<br>

		<input list="Departments" name="Department" class="form-control input-lg" placeholder="Department" required>
			<datalist id="Departments">
    			<option value="ECE">
    			<option value="Computer Science">
	  		</datalist>
		<br>
		 <br>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
		</form>
	</div>
</div>
{% endblock %}
1
