{% extends "base.html" %}

{% block content %}
<h3>Damaged Books Report</h3>	
<div class="row">
	<div class="col-sm-6">
		<form class="form" role="form" method="POST" action="/damaged-books-report" id="damagedbook-form">
		<input list="MonthList" name="month" class="form-control input-lg" placeholder="Natch" required>
			<datalist id="MonthList">
    			<option value='1'>Jan</option>
    			<option value="2">
    			<option value="3">
    			
	  		</datalist>
		<br>
	</div>
	<div class="col-sm-6">
		<input list="SubjectList" name="subject_1" class="form-control input-lg" placeholder="Subject" required><br>
		<input list="SubjectList" name="subject_2" class="form-control input-lg" placeholder="Subject" required><br>
		<input list="SubjectList" name="subject_3" class="form-control input-lg" placeholder="Subject" required>
			<datalist id="SubjectList">
    		{% for s in subjects %}
    			<option value="{{s}}">	  		
			{% endfor %}
	  		</datalist>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<button type="submit" class="btn btn-success btn-block btn-lg">Show Report</button>
	</div>
</form>
</div>
<div class="row">
	<hr>
	<br>
 <!-- Book summery table will go here -->
 	<div class="col-sm-12">
 		<table class="table">
 		<tr>
		    <th>Month</th>
		    <th>Subject</th>		
		    <th># Damaged Book</th>
		</tr>
		{% for t in table_contents  %}
  		<tr>
		    <td>{{month}}</td>
		    <td>{{t.0}}</td>		
		    <td>{{t.1.0.0}}</td>
		  </tr>
		{% endfor %}   
		 
	</table>
 	</div>
</div>
{% endblock %}
