{% extends "base.html" %}

{% block content %}

<div class="row">
	
 	<h3>Frequent User Report</h3>

 <!-- Book summery table will go here -->
 	<div class="col-sm-12">	
 		<table class="table">
 		<tr>
		    <th>Month</th>
		    <th>UserName</th>		
		    <th>#checkouts</th>
		</tr>
		
  		<tr>
		    <td>Jill</td>
		    <td>Smith</td>		
		    <td>50</td>
		    
		  </tr>
		  <tr>
		    <td>Eve</td>
		    <td>Jackson</td>		
		    <td>94</td>
		    
		  </tr>
		  <tr>
		    <td>John</td>
		    <td>Doe</td>		
		    <td>80</td>
		    
		  </tr>

	</table>
 	</div>
</div>
{% endblock %}
