{% extends "base.html" %}

{% block content %}
<h3>Popular Books Report</h3>	
<div class="row">
 <!-- Book summery table will go here -->
 	<div class="col-sm-12">
 		<table class="table">
 		<tr>
		    <th>Month</th>
		    <th>Title of the Book</th>		
		    <th>#checkouts</th>
		</tr>
		{% for j in popular_book_jan %}
    	<tr>
		    <td>{{j.0}}</td>
		    <td>{{j.1}}</td>		
		    <td>{{j.2}}</td>
		    
		  </tr>
    		{% endfor %}
  		

		{% for f in popular_book_feb %}
    	<tr>
		    <td>{{f.0}}</td>
		    <td>{{f.1}}</td>		
		    <td>{{f.2}}</td>
		    
		  </tr>
    		{% endfor %}
    		
	</table>
 	</div>
</div>
{% endblock %}
