{% extends "base.html" %}

{% block content %}
<h3>Request extension on a book</h3>
<form class="form" role="form" method="POST" action="/login/" id="login-form">
		
<div class="row">

	<div class="col-sm-6">
	<hr>

		<input name="enterIssueID" type="text" class="form-control input-lg" placeholder="Enter your issue_id" required autofocus>
		<br>
		<button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
		
	</form>
	</div>
	<div class="col-sm-6">
	<hr>
		<input name="OriginalCheckOutDate" type="text" class="form-control input-lg" placeholder="Original Checkout Date" required>
		<br>
		<input name="CurrentExtensionDate" type="text" class="form-control input-lg" placeholder="Current Extension Date" required>
		<br>
		<input name="CurrentReturnDate" type="text" class="form-control input-lg" placeholder="Current Return Date" required>
		<br>
		<input name="NewExtensionDate" type="text" class="form-control input-lg" placeholder="New Extension Date" required>
		<br>
		<input name="NewEstimatedReturnDate" type="text" class="form-control input-lg" placeholder="New Estimated Return Date" required>
		<br>
		<button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>

		
	</div>
</div>

{% endblock %}
1
