{% extends "base.html" %}

{% block content %}

<h1>Staff Dashboard</h1>
<div class="row">
	<div class="col-sm-4">
		<h6>Track Book and Checkout</h6>
		<p>{{checkout_message}}</p>
		<form class="form" role="form" method="POST" action="/book-checkout/" id="login-form">
			<input name="isbn" type="text" class="form-control input-lg" placeholder="ISBN" required autofocus>
			<br>
			<input name="copy-number" type="text" class="form-control input-lg" placeholder="Copy #" required autofocus>
			<br>
			<input name="username" type="text" class="form-control input-lg" placeholder="Username" required autofocus>
			<br>
			<button type="submit" class="btn btn-success btn-block btn-lg">Confirm</button>
		</form>
	</div>
	<div class="col-sm-4">
		<h6>Return Books</h6>
		<p>{{return_book_message}}</p>
		<form class="form" role="form" method="POST" action="/return-book/" id="return-books-form">
			<input class="form-control input-lg" name="issue-id" type="text" placeholder="Issue id">
			<br>
			{% for i in issue_details %}
			<p>{{i}}</p>
			{% endfor %}
			<input name="is-damaged" value="yes" type="radio"> Is Damaged
			<br>
			<br>
			<button class="btn btn-lg btn-block btn-success" type="submit">Return</button>
		</form>
	</div>
	<div class="col-sm-4">
		<h6>Lost and damaged Books</h6>
	</div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	// $.post("/issue-details/", {suggest: txt}, function(result){
 //        $("span").html(result);
 //    });
</script>
{% endblock %}
