{% extends "base.html" %}

{% block content %}
<h3>Track Book Location</h3>
<form class="form" role="form" method="POST" action="/login/" id="login-form">
		
<div class="row">
<hr>

	<div class="col-sm-4 col-sm-offset-4">
	
		<input name="ISBN" type="text" class="form-control input-lg" placeholder="Enter ISBN" required autofocus>
		<br>
		<button type="submit" class="btn btn-success btn-block btn-lg">Locate</button>
		
	</form>
	</div>
</div>
	
<div class="row">
<hr>
	<div class="col-sm-4 col-sm-offset-4">
	<div class="well">FloorNumber</div>
	<div class="well">ShelfNumber</div>
	<div class="well">AisleNumber</div>
	<div class="well">Subject</div>
	
				
	</div>
</div>

{% endblock %}

