{% extends "base.html" %}

{% block content %}
<h3>Track Book Location</h3>
<form class="form" role="form" method="POST" action="/track-book-location" id="track-book-location-form">
		
<div class="row">
<hr>

	<div class="col-sm-4 col-sm-offset-4">
	
		<input name="isbn" type="text" class="form-control input-lg" placeholder="Enter ISBN" required autofocus>
		<br>
		<button type="submit" class="btn btn-success btn-block btn-lg">Locate</button>
		
	</form>
	</div>
</div>
	
<div class="row">
<hr>
	<div class="col-sm-4 col-sm-offset-4">
	{% for l in location_info %}
		Floor Number<div class="well">{{l.0}}</div>
		Shelf Number<div class="well">{{l.1}}</div>
		Aisle Number<div class="well">{{l.2}}</div>
		Subject<div class="well">{{l.3}}</div>
	{% endfor %}			
	</div>
</div>

{% endblock %}

